@import "tailwindcss";

@theme {
  --color-math-dark: #050505;
  --color-math-cyan: #00f0ff;
  
  /* ✅ Map the font-sans to Space Grotesk so it applies EVERYWHERE */
  --font-sans: var(--font-space); 
}

:root {
  background-color: var(--color-math-dark);
  color: #ffffff;
}

body {
  font-family: var(--font-sans);
  overflow-x: hidden;
}